.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-family: @primary-font;
	border: 0;
	outline: 0;
	background-color: transparent;
	padding: 0.5rem;
	cursor: pointer;
	color: @primary-color;

	&--bordered {
		border: 1px solid @primary-color;
	}
}